<br>
<br>
<h2 class="text-dark">subcategory</h2>
<mat-form-field style="width:80%" class="ml-4">
  <input type="text" class="text-dark tetx-center" matInput placeholder="Enter SubCategory" [(ngModel)]="txtsubcat" autocomplete="off">
</mat-form-field>
  
<mat-form-field  style="width:80%" class="ml-4" >
  <mat-select class="text-center"  placeholder="Choose Category" [(ngModel)]="drpcat">
  <mat-option *ngFor="let item of catdata" value="{{item._id}}">
    {{item.catname}}
  </mat-option>
  </mat-select>
</mat-form-field>
<button class="btn btn-warning btn-sm ml-2" (click)="funinsert()" >INSERT</button>
<br>
<table class="table table-striped table table-bordered">
  <thead class="thead-dark">
    <tr>
    <th (click)="chord('subcatname')">SubCategory</th>
    <th>Category</th>
    <th>Status</th>
    <th>Edit</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor='let item of subdata | paginate:{itemsPerPage:2,currentPage:cp}'>
        <ng-container *ngIf="temp!=item._id;else elsdiv">
      <td>{{item.subcatname}}</td>
      <td>{{item.data.catname}}</td>
      <td>
        <span *ngIf="item.status==1; else elsestatus">Active</span>
      </td>
      <ng-template #elsestatus>
        Inactive
      </ng-template>
      <td class="btn btn-warning" (click)="funedit(item)">EDIT</td>
</ng-container>
    </tr>
  </tbody>
</table>

<ng-template #elsdiv>
    <td>
      <input type="text" [(ngModel)]="selectdata.subcatname" class="form-control">
    </td>
    <td>
      <select class="form-control" [(ngModel)]="selectdata.catid">
        <option *ngFor="let item of catdata" value="{{item._id}}">
          {{item.catname}}
        </option>
      </select>
    </td>
      <td> 
        <select [(ngModel)]="selectdata.status" class="form-control">
          <option value="1">Active</option>
          <option value="0">InActive</option>
         </select>
        </td>

         <td>
<input type="button" value="Save" class="btn btn-success" (click)="funmodify()">
<input type="button" value="Cancel" class="btn btn-danger" (click)="this.temp=0">
     </td>
     </ng-template>

     <pagination-controls (pageChange)="cp=$event" class="text-center"></pagination-controls>


